.aboutContainer {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;

}

.downAbout {
    position: absolute;
    bottom: 40px;

}

.upAbout {
    position: absolute;
    top: 40px;
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.leftAbout {
    margin: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    align-items: start;
    text-align: justify;
    line-height: 40px;
    color: whitesmoke;
    position: relative;
}




.line {
    content: "";
    position: absolute;
    border-bottom: 3px solid whitesmoke;
    width: 80px;
    top: 55px;
    left: 0%;
}

.rightAbout {
    flex: 1;
    display: flex;
    justify-content: center;
}

.tibAboutWrapper {
    background-color: black;
    width: 40vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
    overflow: hidden;
}

.tiberiuAbout {
    height: 60vh;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.desc {
    font-size: 20px;
    font-weight: 200;

}

@media screen and (max-width: 1285px) {
    .aboutContainer {
        height: max-content;


    }

    .about{
        gap: 30px;
        padding: 20px;
 
    }

    .leftAbout {
        justify-content: center;
        align-items: center;
    
    }

    .rightAbout {
        width: 80%;
        padding: none;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tibAboutWrapper {
        width: 25rem;
        height: 60vh;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border-radius: 10px;
        overflow: hidden;
    }

    .tiberiuAbout {
        height: 60vh;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    .line {
        display: none;
    }

    .upAbout a {
        display: none;
    }

    .downAbout a {
        display: none;
    }


}


