.form-control {
    border-radius: 0;
}

.box{
    gap: 50px;

}
.submit-btn {
    border: none;
    background-color: black;
    color: antiquewhite;
    width: 100px;
    font-family: 'Lora';
    cursor: pointer;
    transition: 0.5s ease;
    align-self: center;
}

.submit-btn:hover {
    background-color: rgb(60, 60, 60);

}

#notifyToast {
    color: green;
    border-radius: 6px;
    width: 200px;
    margin-left: 75px;
    background-color: white
}

.input {
    border-radius: none;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    gap: 30px;
    
}



.contact-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}


@media screen and (max-width: 564px) {
    .first{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .ContactForm {
        gap: 15px;
    }

    .contact-form {
        gap: 0px;
    }

    .left {
        width: 90vw;
    }

    .form-control {
        width: 90vw;
    }
}