.contactContainer {
    background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}



.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 40px;
    color: #000000;
    position: relative;
}


.line {
    content: "";
    position: absolute;
    border-bottom: 3px solid whitesmoke;
    width: 80px;
    top: 55px;
    left: 0%;
}

.rightContact {
    flex: 1;
    display: flex;
    justify-content: center;
}

.tibWrapperContact {
 
    width: 40vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
    overflow: hidden;
}

.tiberiu {
    height: 60vh;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.desc {
    font-size: 20px;
    font-weight: 200;

}

@media screen and (max-width: 1024px) {
    .aboutContainer {
        height: max-content;
    }

    .about{
        flex-direction: column;
    }

    .left {
        justify-content: center;
        margin: 10px;
    }

    .tibWrapper {
       display: none;
    }

    .tiberiu {
        height: 60vh;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    .line {
        display: none;
    }


}