.introContainer {
    background-image: url('https://github.com/prabinmagar/photographer-portfolio-site-html-css/blob/master/images/header-banner.jpg?raw=true');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    position: absolute;
    left: 30px;
}

.downIntro {
    position: absolute;
    bottom: 60px;
}

.introWrapper {
    margin-top: 430px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-start;
    align-items: start;
    margin-left: 50px;
}

.iconsWrapper a {
    text-decoration: none;
        color: white;
}



.name {
    color: white;
    font-size: 80px;
    margin: 0;
    letter-spacing: 5px;

}

.job {
    letter-spacing: 7px;
    font-size: 25px;
    font-weight: 300;
}

.icon {
    cursor: pointer;
    font-size: 25px;
}

.iconsWrapper {
    display: flex;
    gap: 20px;
}

.down a{
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
  
}


@media screen and (max-width: 564px) {
    .name{
        font-size: 40px;
    }

    .introWrapper{
         margin-top: 400px;
    }

    .intro {
        left: -30px;
        margin: 0 auto;
    }

    .downIntro a{
        display: none;
    }


}


