.nakedContainer {
    background-color: whitesmoke;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    position: relative;
    align-items: center;

}

.upNaked {
    position: absolute;
    top: 40px;
}

.downNaked {
    position: absolute;
    bottom: 40px;
}

.naked {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: flex-start;
}



.grid {
    gap: 20px;

}

.nakedWrapper {
    position: relative;
}

.lineNaked {
    content: "";
    position: absolute;
    border-bottom: 3px solid  #000000;
    width: 80px;
    top: -5px;
    left: 0;
}

.card {
    transition: transform .9s
}
.card:hover {
    position: relative;
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.02);
}


.card:hover .overlay {
    cursor: pointer;
    opacity: 1;
    position: absolute;
 
}

.overlay {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.hoverText {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: rgb(61, 60, 60);
}

.footer a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.redirect {
    letter-spacing: 3px;
}



@media screen and (max-width: 1285px) {
    .lineNaked{
        display: none;
    }

    .naked {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .card {
        transition: none;
    }

    .card:hover {
        transform: none;
    }
}
